body {
/*   background: #ececec; */
  color: #303030;
  font-size: 11px;
  height: auto;
/*   padding-bottom: 20px; */
  font-family: Verdana, Tahoma, Arial;
}

#top-bar {
	width: 100%;
	color: darkgrey;
	border-bottom: 2px solid lightgrey;
	position: fixed;
	z-index: 9999;
	background: #ffffff url(../img/top-menu-bg.png) center bottom repeat-x;
/* 	height:50px; */
	
}


.user-menu-box{
	float: right; 
	width: 260px; 
	margin-right: 15px; 
	border-left:1px solid lightgrey;
	height: 100%; 
	overflow: hidden; 
	text-align: left;"
}


.user-menu-links{
	margin-right:20px; 
	float: right;
}

.user-menu-links a{
	float: right; 
	margin-top: 20px; 
	position: relative; 
	left: -6px;"
}

#top-bar a{
	color:#7A7A7A;
	font-size: 11px;
}
.wrapper{
	min-height: 100%;
	position: relative;	
}

.meniBox{
	float:left;
	overflow-y:auto;
	height:185px;
	margin-left:5px;
	padding-top: 15px;
}

.dropMeni{
	height:200px;
}

.rotated {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
	position: relative;
	bottom: 11px;
}

.rotated div {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
}

#top-bar-menu {
	float: left;
	height: 50px;
}

.container_12 {
	padding-top: 50px;
}

#top-bar-wrapper {
	width: 960px;
	margin: 0 auto;
}

#menuTitle{
	margin-top:10px;
	cursor:pointer;
	color:white;	
}


#home {
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/home.png);
	text-indent: -9999px;
	margin-top: 10px;
	margin-right: 10px;
}

#logo{
	margin-top: 10px;	
}

#menu-button {
	float: left;
 	display: inline-block; 
 	width: 60px; 
 	height: 62px;
	background: url(../img/menu-down.png);
	text-align: center;
	line-height: 40px;
	text-shadow: 0 1px 1px #000;
	margin: 0 10px;
}

#menu-button a{
	color:white;	
}
	
#quick-links {
	display: inline-block;
	margin-left: 10px;
	line-height: 34px;
}

#quick-links a {
	margin-right: 20px;
}

.small-notification {
	background: #388bbb;
	color: #fff;
	padding: 3px;
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 12px;
	border-radius: 3px;
}

#quick-links a:hover {
	text-decoration: none;
	padding-bottom: 9px;
	border-bottom: 2px solid #b11616;
}

#top-bar-search {
	float: right;
}

#top-bar-search a{
	color: #7a7a7a;
}

#top-bar-search input {
	border-radius: 5px;
	border: 0;
	padding: 3px;
	margin-top: 10px;
	color:darkgrey;
	border: 1px solid lightgrey;
	color:#7a7a7a;
}

.tile {
	height: 120px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(238,238,238)),
		color-stop(1, rgb(255,255,255))
	);
	
	margin-bottom: 20px;
}

#glass {
	position: relative;
	left: -20px;
	top: 4px;
	border:0px none !important;
}

.tile .notification {
	float: right;
	display: block;
	width: 40px;
	height: 40px;
	margin: -10px -10px 0 0;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-radius: 20px;
	line-height: 40px;
}

.yellow {
	background: #fcb00d;
}

.red {
	background: #a51515;
}

.tile h2 {
	margin-top: 20px;
}

.tile p {
	border: 0;
	margin-top: -30px;
}

#menu-big .grid_3 {
	padding-top: 10px;
	top: -1px;
	position: relative;
}

#menu-big h3 {
	font-size: 12px;
	margin-bottom: 10px;
}

#menu-big ul {
	list-style-type:none;
}

#menu-big li {
	margin-left: 0;
}

.fav {
	background: #4b4b4b;
	text-indent: 10px;
}

a {
  color: #a70632;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Verdana, Tahoma, Arial;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  font-weight: bold;
}

p {
/*   border: 1px solid #666; */
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}


/* ovo ukljuciti samo za testiranje
.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}

*/

.titleContainer{
/* 	padding-top:30px; */
/* 	border-bottom: 1px solid lightgrey; */
	text-align: left;
	
		
}

.formContainer{
	padding-top:30px;
	padding-bottom:30px;
 	border: 1px solid silver; 
	padding-bottom: 30px;
/* 	background-color: #f4f4f4; */
	background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(238,238,238)),
		color-stop(1, rgb(255,255,255))
	);
	overflow: auto;
}

.tableContainer{
	padding-top:20px; 
	overflow: auto;
	
}


.buttonContainer{
	padding:10px;
	text-align: left;
/* 	padding-bottom: 20px; */
/* 	margin-bottom: 30px;	 */
}

select
{
	width:150px;
	
}

.textfield{
		width:150px;
}

.form_left{
	
	float:left;
	width:170px;
	text-align: right;
	over
}

.form_right{
	text-align: left;
	float:left;
	width:170px;
}

.labelContainer{
	float:right;
	width:130px;
	padding: 7px;
	font-size: 13px;
}


.binEditContainer{
	width:320px;
	padding:10px;
	overflow:auto;	
	float:left;
}

DIV.t-beaneditor-row LABEL{
width: 130px;
font-size:13px;
display: block;
float: left;
text-align: right;
clear: left;
vertical-align: middle;
padding: 10px;
}

DIV.t-beaneditor-row input{
width: 145px;
float: right;
text-align: left;
clear: left;
}

DIV.t-beaneditor-row select{
width: 150px;
/* float: left; */
text-align: left;
clear: left;
}

DIV.t-beaneditor-row LABEL:after {
    content: "";
}
.dropdownContainer{
	text-align: left;
	padding: 5px;
/* 	width:170px; */
	background:transparent;
	float:left;
}

.textfieldContainer{
	text-align: left;
	padding: 5px;
/* 	width:170px; */
	background:transparent;
	float:left;
}

.t-data-grid-pager{
	text-align:left;
}
DIV.t-data-grid-pager SPAN.current {
    color: white;
    background-color: #a70632;
    
}



#yearZone_139ba2b70c0.t-zone{
	background:#f4f4f4;
	
}


TABLE.t-data-grid THEAD TR TH{
    color: white;
    background-color: #a70632;
    text-align:center;
}

TABLE.t-data-grid {
    border-collapse: collapse;
    border-left: 1px solid silver;
    width: 100%;
 	font-family: Verdana, Tahoma, Arial;
 	font-size: 11px;
 	text-align:center;
 }
 
 td.fname, td.lname, td.personLname, td.personFname{
	text-align: left;
	padding-left: 10px !important;
}


td.index{
	width:10px;
}

td.ExcusedEdit{
	width:10px;
}

tr:nth-child(even) {
background-color: #f4f4f4;
}

.legal {
    text-align: center;
}

.footer{
    color:#7a7a7a;
    position:fixed; 
    bottom:0;
    width:100%;
    height:35px;   /* Height of the footer */
    border-top: 1px solid lightgrey;
    padding-top: 7px;
   	background-color:#ececec;
   	padding-bottom: 7px;
}

.bottomContainer{
	height:90px;
	
}
#emptyContent{
	color:red;
	text-decoration: bold; 	
}

.AttendanceNoteEdit textarea{
	width:97%;
}

.leftFirstButton{
	float:left;
	margin-right:15px;
	
}

.leftSecondButton{
	float:left;
}

/* If you want a red button use these styles */

.button-red {
margin-right:15px;
border-radius:3px;
padding:7px;
border: 1px solid transparent;
color: #fff;
text-shadow: 0 1px rgba(0, 0, 0, 0.1);
/* text-transform: uppercase; */
background-color: #D14836;
background-image: -webkit-gradient(linear,left top,left bottom,from(#d3616e),to(#911232));
background-image: -webkit-linear-gradient(top,#d3616e,#911232);
background-image: -moz-linear-gradient(top,#d3616e,#911232);
background-image: -ms-linear-gradient(top,#d3616e,#911232);
background-image: -o-linear-gradient(top,#d3616e,#911232);
background-image: linear-gradient(top,#d3616e,#911232);
}

.button-red:active {
border: 1px solid #992A1B;
background-color: #B0281A;
background-image: -webkit-gradient(linear,left top,left bottom,from(#d3616e),to(#911232));
background-image: -webkit-linear-gradient(top,#d3616e,#911232);
background-image: -moz-linear-gradient(top,#d3616e,#911232);
background-image: -ms-linear-gradient(top,#d3616e,#911232);
background-image: -o-linear-gradient(top,#d3616e,#911232);
background-image: linear-gradient(top,#d3616e,#911232);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.button-red:hover {
border: 1px solid #B0281A;
color: white;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background-color: #C53727;
background-image: -webkit-gradient(linear,left top,left bottom,from(#E06D79),to(#A80B32));
background-image: -webkit-linear-gradient(top,#E06D79,#A80B32);
background-image: -moz-linear-gradient(top,#E06D79,#A80B32);
background-image: -ms-linear-gradient(top,#E06D79,#A80B32);
background-image: -o-linear-gradient(top,#E06D79,#A80B32);
background-image: linear-gradient(top,#E06D79,#A80B32);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
text-decoration: none;
-webkit-transition: all 0.0s;
}


.actionLinkButton {
margin-right:15px;
border-radius:3px;
padding:7px;
border: 1px solid transparent;
color: black;
text-shadow: 0 1px rgba(0, 0, 0, 0.1);
/* text-transform: uppercase; */
background-color: #D14836;
background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#D6D6D6));
background-image: -webkit-linear-gradient(top,#EEE,#D6D6D6);
background-image: -moz-linear-gradient(top,#EEE,#D6D6D6);
background-image: -ms-linear-gradient(top,#EEE,#D6D6D6);
background-image: -o-linear-gradient(top,#EEE,#D6D6D6);
background-image: linear-gradient(top,#EEE,#D6D6D6);
}

.actionLinkButton:active {
border: 1px solid #silver;
background-color: #B0281A;
background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#D6D6D6));
background-image: -webkit-linear-gradient(top,#EEE,#D6D6D6);
background-image: -moz-linear-gradient(top,#EEE,#D6D6D6);
background-image: -ms-linear-gradient(top,#EEE,#D6D6D6);
background-image: -o-linear-gradient(top,#EEE,#D6D6D6);
background-image: linear-gradient(top,#EEE,#D6D6D6);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.actionLinkButton:hover {
border: 1px solid #silver;
color: black;
/* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
background-color: #C53727;
background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#ddd7d7));
background-image: -webkit-linear-gradient(top,#EEE,#ddd7d7);
background-image: -moz-linear-gradient(top,#EEE,#ddd7d7);
background-image: -ms-linear-gradient(top,#EEE,#ddd7d7);
background-image: -o-linear-gradient(top,#EEE,#ddd7d7);
background-image: linear-gradient(top,#EEE,#ddd7d7);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
text-decoration: none;
-webkit-transition: all 0.0s;
}


.logInButton {
float: right; 
margin-top: 20px;
border-radius:3px;
padding:7px;
border: 1px solid transparent;
color: white !important;
background-color: #D14836;
background-image: -webkit-gradient(linear,left top,left bottom,from(#d3616e),to(#911232));
background-image: -webkit-linear-gradient(top,#d3616e,#911232);
background-image: -moz-linear-gradient(top,#d3616e,#911232);
background-image: -ms-linear-gradient(top,#d3616e,#911232);
background-image: -o-linear-gradient(top,#d3616e,#911232);
background-image: linear-gradient(top,#d3616e,#911232);
text-decoration: none;
}

.logInButton:active {
border: 1px solid #992A1B;
background-color: #B0281A;
background-image: -webkit-gradient(linear,left top,left bottom,from(#d3616e),to(#911232));
background-image: -webkit-linear-gradient(top,#d3616e,#911232);
background-image: -moz-linear-gradient(top,#d3616e,#911232);
background-image: -ms-linear-gradient(top,#d3616e,#911232);
background-image: -o-linear-gradient(top,#d3616e,#911232);
background-image: linear-gradient(top,#d3616e,#911232);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.logInButton:hover {
border: 1px solid #B0281A;
color: white !important;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background-color: #C53727;
background-image: -webkit-gradient(linear,left top,left bottom,from(#E06D79),to(#A80B32));
background-image: -webkit-linear-gradient(top,#E06D79,#A80B32);
background-image: -moz-linear-gradient(top,#E06D79,#A80B32);
background-image: -ms-linear-gradient(top,#E06D79,#A80B32);
background-image: -o-linear-gradient(top,#E06D79,#A80B32);
background-image: linear-gradient(top,#E06D79,#A80B32);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
text-decoration: none;
-webkit-transition: all 0.0s;
}
